@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), /*url('#{$file-path}.woff') format('woff'),*/ url('#{$file-path}.ttf') format('truetype');
  }
}

@include font-face('Lato-Bold', '../fonts/Lato-Bold');
@include font-face('Lato-Italic', '../fonts/Lato-Italic');
@include font-face('Lato-Light', '../fonts/Lato-Light');
@include font-face('Lato-Regular', '../fonts/Lato-Regular');

@include font-face('Roboto-Black', '../fonts/Roboto-Black');
@include font-face('Roboto-Bold', '../fonts/Roboto-Bold');
@include font-face('Roboto-Italic', '../fonts/Roboto-Italic');
@include font-face('Roboto-Light', '../fonts/Roboto-Light');
@include font-face('Roboto-Medium', '../fonts/Roboto-Medium');
@include font-face('Roboto-Regular', '../fonts/Roboto-Regular');
@include font-face('Roboto-Thin', '../fonts/Roboto-Thin');

@include font-face('TitilliumWeb-Bold', '../fonts/TitilliumWeb-Bold');
@include font-face('TitilliumWeb-RegularE', '../fonts/TitilliumWeb-RegularE');
@include font-face('TitilliumWeb-RegularL', '../fonts/TitilliumWeb-RegularL');
@include font-face('TitilliumWeb-RegularR', '../fonts/TitilliumWeb-RegularR');
@include font-face('TitilliumWeb-RegularS', '../fonts/TitilliumWeb-RegularS');