* {
  text-decoration: none;
  list-style: none;
}

.body {
  background-color: #ffffff;

  .error {
    border: 1px solid red;

    &:focus {
      color: #495057;
      background-color: #ffffff;
      border-color: #cd0000 !important; //need to fix
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important; //need to fix
    }
  }

  .error-text {
    font-size: 13px;
    color: red;
  }

  a {
    color: #21262a;
  }

  .wrapper {
    .main-block {
      width: 1140px;
      margin: 0 auto;
    }

    .search {
      font-size: 11px;

      i {
        color: #646464;
      }

      input {
        font-family: 'Roboto-Regular';
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none;
        color: #414141;
      }
    }

    .header {
      .header-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 30px 45px;

        .search, .logo, .user-items {
          margin-top: 20px;
          align-self: center;
        }

        .search {
          grid-column: 1;
        }

        .logo {
          grid-column: 3;
          justify-self: center;
        }

        .user-items {
          grid-column: 5;
          justify-self: end;

          ul {
            li {
              float: left;

              &:not(:last-child) {
                padding-right: 10px;
              }

              :hover {
                color: #8ed1b7; //#bad18d
                cursor: pointer;
              }
            }
          }
        }

        .horizontal-line {
          grid-column: 1/6;
          align-self: center;
        }

        .navigation {
          grid-column: 2/5;
          align-self: center;
          text-align: center;

          ul {
            display: inline-block;
            padding-inline-start: 0;

            li {
              float: left;

              &:not(:first-child) {
                padding-left: 10px;
              }
              &:not(:last-child) {
                padding-right: 10px;
              }

              .active {
                color: #8ed1b7;
                text-decoration: underline;
              }

              a {
                font-family: 'Roboto-Regular';
                font-size: 11px;
                text-transform: uppercase;
                text-decoration: none;
                color: #45505e;

                &:hover {
                  color: #8ed1b7;
                }
              }
            }
          }
        }
      }
    }

    .content {
      .top-panel {
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;

        .category {
          grid-row: 1;
          grid-column: 1;

          .icon {
            &:before {
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }

          ul {
            font-family: 'Roboto-Regular';
            font-size: 11px;
            text-transform: uppercase;
            color: #45505e;
            padding: 0;
            float: left;
            margin-top: 2px;
            margin-left: 5px;

            &:before {
              font-family: 'Material Design Icons';
              content: '\F263';
              padding-right: 3px;
              float: left;
              color: #000000;
            }

            li {
              float: left;

              a {
                color: #45505e;
                text-decoration: none;

                &:hover {
                  color: #c4e0d6;
                }
              }

              span {
                color: #c4e0d6;
              }
            }
          }
        }

        .search {
          grid-row: 1;
          grid-column: 2;
          justify-self: end;
        }

        hr {
          grid-row: 2;
          grid-column: 1/3;
          margin: 0;
        }
      }
    }

    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 50px 50px;
      margin-top: 50px;

      .site-info {
        grid-column: 1;
        grid-row: 1;
        margin-top: 45px;

        p {
          font-family: 'Roboto-Light';
          font-size: 13px;
          color: #7b7c85;
          width: 300px;
          margin-top: 10px;
        }
      }

      .useful-links {
        grid-row: 1;

        span {
          font-family: 'TitilliumWeb-RegularR';
          font-size: 18px;
          color: #1d1e24;
        }

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0;
          margin-top: 10px;

          li {
            font-size: 12px;
            color: #7b7c85;
            padding: 5px 0;

            i {
              float: left;
            }

            a {
              font-family: 'Roboto-Light';
              color: #7b7c85;
              text-decoration: none;
              padding-left: 5px;
              max-width: 150px;
              display: block;
              float: left;
              overflow: hidden;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .instagram {
        grid-column: 3;
        grid-row: 1;
        justify-self: right;

        span {
          font-family: 'TitilliumWeb-RegularR';
          font-size: 18px;
          color: #1d1e24;
        }

        .last-posts {
          display: grid;
          grid-template-columns: repeat(4, 90px);
          grid-template-rows: 90px 90px;
          margin-top: 7px;

          .post {
            width: 90px;
            height: 90px;

            img {
              width: 90px;
              height: 90px;
            }
          }
        }
      }

      hr {
        grid-column: 1/4;
        grid-row: 2;
        margin: 0;
        align-self: center;
        color: #f4f4f4;
      }

      .site-rights {
        grid-column: 1/4;
        grid-row: 3;

        .license {
          font-family: 'Lato-Linght';
          font-size: 13px;
          color: #7b7c85;
          float: left;
        }

        .pay-variants {
          float: right;
        }
      }
    }
  }
}