<div class="modal fade" id="authorization-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {{#if isLogin}}
                <form id="auth-form" method="post" action="/login/">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authorization-title">Вход</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="authorization-login">Имя пользователя</label><a href="" class="authorization-register">Создать аккаунт</a>
                            <input class="form-control form-control-sm" id="authorization-login" name="user_name" placeholder="Введите иля пользователя">
                        </div>
                        <div class="form-group">
                            <label for="authorization-password">Пароль</label>
                            <input type="password" class="form-control form-control-sm" id="authorization-password"  name="password" placeholder="Введите пароль">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_remember" id="authorization-checkbox">
                            <label class="form-check-label" for="authorization-checkbox">Запомнить меня</label>
                            <a href="" class="authorization-forgot">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-sm btn-auth">Войти</button>
                    </div>
                </form>
            {{else}}
                <form id="register-form" method="post" action="/register/">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authorization-title">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="register-login">Имя пользователя</label>
                            <input class="form-control form-control-sm" id="register-login" name="user_name" placeholder="Введите иля пользователя">
                        </div>
                        <div class="form-group">
                            <label for="register-password">Пароль</label>
                            <input type="password" class="form-control form-control-sm" id="register-password" name="password" placeholder="Пароль">
                        </div>
                        <div class="form-group password-rules">
                            <p>* Пароль должен:</p>
                            <ul>
                                <li>Иметь длину 8 символов</li>
                                <li>Иметь 2 буквы в верхнем регистре</li>
                                <li>Иметь 1 специальный символ <span>(!@#$&*)</span></li>
                                <li>Иметь 2 цифры <span>(0-9)</span></li>
                                <li>Иметь 3 буквы в нижнем регистре</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-sm btn-register">Зарегистрироваться</button>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
</div>