.body {
  .modal {
    .modal-dialog {
      font-family: 'Roboto-Light';

      .modal-content {
        .modal-header {
          .modal-title {
            text-transform: uppercase;
          }
        }

        .modal-body {
          .form-group {
            .authorization-register {
              float: right;
            }

            .form-control {
              &:focus {
                color: #495057;
                background-color: #ffffff;
                border-color: #4bd187;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(75, 209, 135, 0.25);
              }
            }
          }

          .password-rules {
            font-size: 13px;

            ul {
              line-height: normal;

              li {
                span {
                  color: #cd0000;
                  background-color: rgba(255, 0, 0, 0.16);
                }
              }
            }
          }

          .form-check {
            .authorization-forgot {
              float: right;
            }
          }
        }

        .modal-footer {
          .btn-auth, .btn-register {
            background-color: #8ed1b7;
            border: 1px solid #79d1a7;
            color: #ffffff;

            &:hover {
              background-color: #8bceb4;
              border: 1px solid #76cea4;
            }

            &:active {
              border: 1px solid #4bd187;
            }

            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(75, 209, 135, 0.25);
            }
          }
        }
      }
    }
  }
}