.body {
  .wrapper {
    .our-features {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 260px;
      align-items: center;
      background: #1d1e24;
      text-align: center;

      p {
        font-family: 'Roboto-Light';
        font-size: 13px;
        color: #767676;

        span {
          font-family: 'TitilliumWeb-RegularL';
          font-size: 16px;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
  }
}