.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .product {
    width: 330px;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 65px 265px;
    grid-template-rows: 1fr 130px 5px 70px;
    justify-self: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 50px -9px rgba(0,0,0,0.25);

    .product-actions {

      ul {
        padding: 0;
        text-align: center;
        li {
          padding: 10px 0;
          :hover {
            cursor: pointer;
            color: #8ed1b7; //#bad18d
          }
        }
      }
    }

    .product-preview {
      width: auto;
      height: auto;

      img {
        width: 265px;
        height: 265px;
      }
    }

    .product-info {
      grid-column: 1/3;
      text-align: center;
      align-self: center;

      .title {
        font-family: 'TitilliumWeb-RegularL';
        font-size: 21px;
        font-weight: 600;
        color: #000000;
      }

      .price {
        font-family: 'Roboto-Light';
        font-size: 14px;
        font-weight: 600;
      }

      .old_price {
        text-decoration: line-through;
      }

      .new_price {
        color: #8ed1b7; //#bad18d
      }
    }

    .horizontal-line {
      grid-column: 1/3;
      align-self: center;
      padding: 0 20px;

      hr {
        margin: 0;
        height: 1px;
        border: none;
        background-color: #eeeeee;
      }
    }

    .add-to-card {
      grid-column: 1/3;
      text-align: center;
      align-self: center;

      .basket_button {
        border: none;
        background: none;

        .icon {
          &:before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        .basket_text {
          font-family: 'Roboto-Light';
          text-transform: uppercase;
          font-size: 12px;
          color: #000000;

          &:before {
            font-family: "Material Design Icons";
            content: "\F111";
            padding-right: 3px;
          }
        }

        :hover {
          color: #8ed1b7; //#bad18d
        }
      }
    }
  }
}