.body {
  .wrapper {
    .slider {
      position: relative;

      img {
        width: 100%;
        height: 575px;
      }

      .slider-buttons {
        position: absolute;
        top: 40%;
        right: 30px;

        .slider-page {
          border-radius: 10px;
          width: 28px;
          height: 28px;
          padding: 1px 0 5px 10px;
          color: #ffffff;
        }
        
        .slider-btn {
          border: none;
          border-radius: 10px;
          outline: none;
          background-color: rgba(0, 0, 0, 0.25);
          color: rgba(255, 255, 255, 0.5);

          &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}