<div class="our-features">
    <div class="fast-delivery">
        <img src="images/fast_delivery.png">
        <p>
            <span>Быстрая выдача</span>
            <br>
            Выдача товара в тот же день
        </p>
    </div>
    <div class="special-discount">
        <img src="images/special_discount.png">
        <p>
            <span>Специальные предложения</span>
            <br>
            Привлекательные цены и скидки
        </p>
    </div>
    <div class="secure-checkout">
        <img src="images/secure_checkout.png">
        <p>
            <span>Надежная система</span>
            <br>
            Полная SSL защита
        </p>
    </div>
    <div class="save-money">
        <img src="images/save_money.png">
        <p>
            <span>Программа лояльности</span>
            <br>
            Постоянным гостям скидки
        </p>
    </div>
</div>