<div class="footer main-block">
    <div class="site-info">
        <img src="images/new_logo_without_around.png">
        <p>
            Наш сайт выступает в роле онлайн витрины.
            На сайте вы можете ознакомиться с продуктами,
            а также приобрести понравившиеся.
            <br><br>
            Вы можете оплатить сразу, или же по приезде в магазин.
        </p>
    </div>
    <div class="useful-links">
        <span>Полезные ссылки</span>
        <ul>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
            <li><i class="mdi mdi-chevron-double-right"></i><a href="#">Главная</a></li>
        </ul>
    </div>
    <div class="instagram">
        <span>
            <i class="mdi mdi-instagram"></i>
            Instagram
        </span>
        {% include 'instagram.html.twig' %}
    </div>
    <hr>
    <div class="site-rights">
        <p class="license">
            <i class="mdi mdi-copyright"></i>
            2019 Vape ORC. Все права защищены
        </p>
        <span class="pay-variants">Способы оплаты</span>
    </div>
</div>