<div class="header main-block">
    <div class="header-items">
        <div class="search">
            <i class="mdi mdi-magnify"></i>
            <input placeholder="Поиск">
        </div>
        <div class="logo">
            <img src="images/new_logo_without_around.png">
        </div>
        <div class="user-items">
            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('profile') }}" class="personal-area"><i class="mdi mdi-account-circle-outline"></i></a></li>
                {% else %}
                    <li><a class="authorization-area"><i class="mdi mdi-account-circle-outline"></i></a></li>
                {% endif %}
                <li><i class="mdi mdi-cart-outline"></i></li>
                <li><i class="mdi mdi-format-align-right"></i></li>
            </ul>
        </div>
        <div class="horizontal-line">
            <hr>
        </div>
        <div class="navigation">
            <ul>
                <li><a class="active" href="#">Главная</a></li>
                <li><a href="#">Тест</a></li>
                <li><a href="#">Пункт</a></li>
                <li><a href="#">Назначения</a></li>
            </ul>
        </div>
    </div>
</div>