<!DOCTYPE html>
<html class="{% block pageMod %}{% endblock %}">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/common.css">
    {% block styles %}{% endblock %}
    <script src="/js/vendor.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/common.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="body">
<div class="wrapper">
    {% include 'modules/header.html.twig' %}
    {% include 'modules/slider.html.twig' %}

    <div class="content main-block">
        {% block content %}{% endblock %}
    </div>

    {% include 'modules/features.html.twig' %}
    {% include 'modules/footer.html.twig' %}
</div>
</body>
</html>