<div class="slider">
    <img src="images/slider_preview_0.png" class="slider-img">

    <div class="slider-buttons">
        <button class="slider-btn" data-button="up">
            <i class="mdi mdi-arrow-up"></i>
        </button>
        <div class="slider-page">
            1
        </div>
        <button class="slider-btn" data-button="down">
            <i class="mdi mdi-arrow-down"></i>
        </button>
    </div>
</div>