{% extends 'modules/main.html.twig' %}
{% block meta %}<title>ORC</title>{% endblock %}

{% block content %}
    <div class="top-panel">
        <div class="category">
            <ul class="icon">
                <li><a href="#">Главная</a><i class="mdi mdi-chevron-right"></i></li>
                <li><a href="#">Жидкости</a><i class="mdi mdi-chevron-right"></i></li>
                <li><span>Maxwells</span></li>
            </ul>
        </div>
        <div class="search">
            <i class="mdi mdi-magnify"></i>
            <input placeholder="Поиск">
        </div>
        <hr>
    </div>
    <div class="products">
        {% include 'product.html.twig' with {'products': products} %}
    </div>
{% endblock %}