<div class="last-posts">
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
    <div class="post">
        <img src="images/instagram-post.png">
    </div>
</div>