{% for product in products %}
    <div class="product">
        <div class="product-actions">
            <ul>
                <li><i class="mdi mdi-format-align-right"></i></li>
                <li><i class="mdi mdi-heart-outline"></i></li>
            </ul>
        </div>
        <div class="product-preview">
            <img src="{{ product.preview }}">
        </div>
        <div class="product-info">
            <span class="title">{{ product.title }}</span>
            <br>
            {% if product.sale %}
                <span class="old_price price">{{ product.oldCost }}</span>
                <span class="new_price price">{{ product.newCost }}</span>
            {% else %}
                <span class="new_price price">{{ product.oldCost }}</span>
            {% endif %}
        </div>
        <div class="horizontal-line">
            <hr>
        </div>
        <div class="add-to-card">
            <button class="basket_button">
                {#<i class="mdi mdi-cart-outline"></i>#}
                <span class="icon basket_text">Добавить в корзину</span>
            </button>
        </div>
    </div>
{% endfor %}